.home {
    margin: 0px;
    padding: 0px;
    box-shadow: inset 0px 0px 10px rgba(165, 215, 232, 0.6);
    /* Warning: CSS does not support Inner Shadow.*/
    background: #f7f7f7;
    background: linear-gradient(91deg, #f7f7f7 0.00%, #3787a1 100.00%);
    opacity: 0.78;
    top: 0;
    overflow-x: hidden;
}

.img1 {
    width: 100vw;
    height: 40vh;
}

.img2 {
    /* Polygon 5 */
    width: 216%;
    margin-left: -90vw;
    margin-top: -100%;
}

.content_img2_1 {
    position: absolute;
    margin-top: -120%;
    margin-left: -40%;
    padding: 10px;
}

.content_img2_1 a {
    box-shadow: inset 0px 0px 49.5px #0b2447;
    /* Warning: CSS does not support Inner Shadow.*/
    background: #a5d7e8;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    font-size: 100%;
    padding: 10px;
    padding-inline: 20%;
}

.content_img2_1 img {
    width: 85%;
    height: 70%;
}

.content_img2_2 {
    position: absolute;
    margin-top: -110%;
    margin-left: -10%;
    padding: 10px;
}

.content_img2_2 h1 {
    word-spacing: 5px;
    font-size: 45px;
    margin-bottom: 25px;
}

.content_img2_2 a {
    box-shadow: inset 0px 0px 49.5px #0b2447;
    /* Warning: CSS does not support Inner Shadow.*/
    background: #a5d7e8;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    font-size: 100%;
    padding: 3%;
    padding-inline: 20%;
}

.content_img2_3 {
    position: absolute;
    margin-top: -100%;
    margin-left: 15%;
    padding: 10px;
}

.content_img2_3>h1 {
    font-weight: bold;
    font-size: 100px;
}

.content_img2_3 div {
    padding: 25px;
    box-shadow: inset 0px 0px 10px rgba(165, 215, 232, 0.6);
    /* Warning: CSS does not support Inner Shadow.*/
    background: linear-gradient(91deg, #f7f7f7 0.00%, #3787a1 100.00%);
    opacity: 0.78;
    border-radius: 40px;
    width: 200%;
    margin-top: 30%;
}

.content_img2_3 div span a {
    word-spacing: 5px;
    font-weight: bold;
    box-shadow: inset 0px 0px 49.5px #0b2447;
    /* Warning: CSS does not support Inner Shadow.*/
    background: #0b2447;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    font-size: 100%;
    padding: 3%;
    padding-inline: 10%;
}

.contint_buisns img {
    margin-top: -70%;
    margin-left: -45%;
    width: 50%;
}

.about {
    position: absolute;
    margin-top: -60%;
    margin-left: 10%;
}

.about h1 {
    color: #0b2447;
    font-weight: bold;
    font-size: 50px;
}

.servics {
    position: absolute;
    margin-top: -30%;
    margin-left: -50%;
}

.servics h1 {
    color: #0b2447;
    font-weight: bold;
    font-size: 30px;
}

.img3 {
    /* Polygon 5 */
    width: 220%;
    height: 180%;
    margin-top: -130vh;
}

.img4 {
    /* Polygon 5 */
    width: 100%;
    height: 180%;
    margin-top: -120%;
    margin-left: -90vw;
}