body{
    margin: 0px;
    padding: 0px;
}

/* nnavbar */

#name_header{
    padding: 10px;
    padding-inline: 19px;
    background-color: rgb(194, 194, 191);
    color: rgb(29, 28, 28);
    border-radius: 100%;
}

.nv-brandabar img{
    width: 3rem;
    height: 3rem;
}

/* stories */

.container-storeis{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 8px;
     cursor: pointer;
    overflow: hidden;
    overflow-x: scroll;
    gap: 50px;
}

.container-storeis::-webkit-scrollbar{
    display: none;
}

.container-storeis .content img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 300;
    position: relative;
    vertical-align: middle;
}

.container-storeis .content {
    position: relative;
}

.container-storeis .storie::before{
    content: '';
    height: 68px;
    width: 68px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: aliceblue;
    transform: translate(-50% , -50%);
    z-index: 101;
}

.container-storeis .storie::after{
    content: '';
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(21, 21, 254);
    transform: translate(-50% , -50%);
    z-index: 100;
}

/* btn-status-now */

.btn-status-now{
    background-color: rgba(0, 72, 255, 0.34);
    border-radius: 10px;
}

/* cards */

.card{
    background-color: rgba(234, 241, 248, 0.581);
    width: 300px;
    height: 150px;
    border-radius: 25px;
   
}

.bi-card-checklist{
    padding: 5px;
    padding-inline: 8px;
    border-radius: 100%;
    background-color: rgb(47, 122, 118);
    color: white;
}

.card-green{
    background: linear-gradient(to top right , rgb(71, 119, 121) , rgba(114, 192, 196, 0.763));
    color: white;
}

.card-img{
    width: 400px;
}

.content-img img{
    width: 100%;
    height: 80px;
}

.footer{
    height: 60px;
    
}